{% if v is empty   %}

    <h1>mafamech joueur</h1>
    {% else %}
        <h1><bold>Nom: {{ j.nom}} </bold></h1>
        <table border="1" >
            <thead>
            <th>Date vote</th>
            <th>Note vote</th>
            </thead>
        {% for vt in v %}
        <tr>
            <td>Date de vote:{{ vt.date | date}}</td>

    <td>Note du Vote{{ vt.noteVote}}</td>
        </tr>
        {% endfor %}
            <h2>Moyenne du vote {{j.moyenneVote}}</h2>
        </table>
{% endif %}
