
body {
    margin: 0;

}
h1 {
    font-family:"Montserrat SemiBold";
    font-weight: bold;
    font-size: xx-large;
    color: black;
    text-align: center;
}
.tableau{
    margin: 1rem;
}
 table {
     margin:1rem;
     border-collapse: collapse;
     width: 90%;

 }

th, td {
    border: 2px solid black;
    padding: 1rem;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {

    text-decoration: none;
    font-size: medium;
    font-weight: normal;
    color: #007bff;
    transition: transform 0.3s ease;
    display: inline-block;
}

a:hover {

    text-decoration: underline ;
    transform: scale(1.2);
}
/* styles.css */

.form {
    /* Styles for the container of each form field */
    margin-bottom: 10px; /* Adjust as needed */
}

label {
    /* Styles for the label of each form field */
    display: inline-block; /* Ensures labels appear on a new line */
    font-weight: bold;
    padding: 0.5rem;
}
.required {
    font-size: x-large;

}

input,
select {
    /* Styles for the input/select elements of each form field */
    padding-right: 0.5rem; /* Adjust as needed */
    /* Adjust as needed */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}
.form_joueur {
    width:40vw;
}

/* Additional styling for the submit button */
button[type="submit"] {
    /* Styles for the submit button */
    background-color: #007bff;
    color: #fff;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}


